<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sosha Zhuk. - {% block title %}Регистрация на экзамены{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script defer src="{% static 'script.js' %}"></script>
</head>
<body>
    <header>
        <nav class="header_container">
            <div class="logo_container">
                <a class="logo" href="{% url 'index' %}">
                    <img src="{% static 'logo.png' %}" alt="site logo" title="Лого сайта">
                </a>
                <div class="describer">
                    <div class="title">
                        <h2 translate="no">Registration</h2>
                    </div>
                    <div class="role">
                        Регистрация на экзамены
                    </div>
                </div>
            </div>
            <div class="auth_container">
                {% if user.is_authenticated %}
                    <div class="profile">
                        <div>
                            <a href="#">{{ user.last_name }} {{ user.first_name }}</a>
                        </div>
                        <div class="submenu_profile" style="display: none;">
                            <div>
                                <p>
                                    <a style="color:rgba(138,33,173,0.69)"
                                       class="fa fa-tasks"
                                       href="#">
                                        Ваши экзамены
                                    </a>
                                </p>
                                <p>
                                    <a style="color:rgba(33,73,173,0.69)"
                                       href="#">
                                        Настройки
                                    </a>
                                </p>
                                <p>
                                    <a style="color:rgba(33,73,173,0.69)"
                                       href="#">
                                        Изменить пароль
                                    </a>
                                </p>
                                <p class="fa fa-sign-out">
                                    <a style="color: rgba(238, 68, 68, 0.93)" href="{% url 'logout' %}">Выход</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% if user.is_staff %}
                        <div>
                            <a href="#">Создать новывй экзамен</a>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="nav-toggle"><span></span></div>
                    <div class="login">
                        <a href="{% url 'login' %}" style="color: #000">Вход</a>
                    </div>
                    <div class="register">
                        <a href="{% url 'register' %}" style="color: #fff">Регистрация</a>
                    </div>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="footer_container">
            <div class="logo">
                <div class="copyright-mark">
                    <p>
                        <img src="{% static 'logo.png' %}" alt="site logo" title="Лого сайта">
                        <span class="title">Sosha Zhuk.</span> - Регистрация на экзамены
                    </p>
                    <div>
                        &copy; {{ current_year }} Все права защищены
                    </div>
                </div>
            </div>
            <div class="privacy">
                <a href="#">Политика конфидециальности</a>
            </div>
            <div class="terms">
                <a href="#">Условия использования</a>
            </div>
        </div>
    </footer>
</body>
</html>